Django>=3.1.2
Pillow==8.0.1
asgiref==3.2.10
attrs=20.2.0
decorator==4.4.2
importlib-metadata==2.0.0
iniconfig==1.0.1
packaging==20.4
pip>=20.2.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-django==3.10.0
pytz==2020.1
setuptools=50.3.0
six==1.12.0
sqlparse==0.3.1
toml==0.10.1
validators==0.18.1
wheel==0.33.1
zipp==3.3.0
