{% extends 'basesurvey.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="wrapper">
        <div class="image-holder">
            <img src="../static/images/form-wizard.png" alt="">
        </div>
        <form action="">
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <!-- <div class="form-row form-group">
                        <div class="form-holder">
                            <label for="">
                                First Name *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                Last Name *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Company Name
                        </label>
                        <input type="text" class="form-control">
                    </div> -->
                    <div class="form-row">
                        <label for="">
                            Select Destination Country *
                        </label>

                        <div class="form-holder">
                            <select name="country" id="country" class="form-control">
                                <option value1="" class="option">Select country</option>

                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Select Destination City *
                        </label>

                        <div class="form-holder">

                            <select name="city" id="city" class="form-control">

                                <option value="" class="option">Select city</option>


                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Tour Package Name *
                        </label>

                        <div class="form-holder">
                            <select name="attractionName" id="attractionName" class="form-control">

                                <option value="" class="option">Select attraction</option>

                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Select Depature Date *
                        </label>

                        <div class="form-holder">
                            <select name="departure" id="departure" class="form-control">

                                <option value="" class="option">Select departure date</option>

                            </select>
                            <i class="zmdi zmdi-caret-down"></i>
                        </div>
                    </div>

                </section>

                <!-- SECTION 2 -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <label for="">
                            County *
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row">
                        <label for="">
                            Postcode / Zip *
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-row form-group">
                        <div class="form-holder">
                            <label for="">
                                Phone *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                Email Address *
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row" style="margin-bottom: 18px">
                        <label for="">
                            Order Notes
                        </label>
                        <textarea name="" id="" class="form-control"
                            placeholder="Note about your order, eg. special notes fordelivery."
                            style="height: 149px"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Create an account?
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </section>

                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                    <div class="product">
                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">
                                    <img src="../static/images/item-1.png" alt="">
                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Low Table/Stool</a>
                                    </h6>
                                    <span>x4</span>
                                </div>
                            </div>
                            <span class="price">$29</span>
                        </div>
                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">
                                    <img src="images/item-2.png" alt="">
                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Set of 3 Porcelain</a>
                                    </h6>
                                    <span>x2</span>
                                </div>
                            </div>
                            <span class="price">$124</span>
                        </div>
                    </div>
                    <div class="checkout">
                        <div class="subtotal">
                            <span class="heading">Subtotal</span>
                            <span>$364</span>
                        </div>
                        <p class="shipping">
                            <span class="heading">Shipping</span>
                            there are no shipping methods available. please double check your address, or contact us if
                            you
                            need any help.
                        </p>
                        <div class="total">
                            <span class="heading">Subtotal</span>
                            <span class="total-price">$364</span>
                        </div>
                    </div>
                </section>

                <!-- SECTION 4 -->
                <h4></h4>
                <section>
                    <div class="checkbox-circle">
                        <label class="active">
                            <input type="radio" name="billing method" value="Direct bank transfer" checked>Direct bank
                            transfer>
                            <span class="checkmark"></span>
                            <div class="tooltip">
                                Make your payment directly into our bank account. Please use your Order ID as the
                                payment
                                reference. Your order will not be shipped until the funds have cleared in our account.
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="billing method" value="Check payments">Check payments
                            <span class="checkmark"></span>
                            <div class="tooltip">
                                Please send a check to Store Name, Store Street, Store Town, Store State / County, Store
                                Postcode.
                            </div>
                        </label>
                        <label>
                            <input type="radio" name="billing method" value="Cash on delivery">Cash on delivery
                            <span class="checkmark"></span>
                            <div class="tooltip">
                                Pay with cash upon delivery.
                            </div>
                        </label>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>

<script>

    var subjectObject = {
        "United States of America": {
            "New York":["New York 3-day Adventure. Explore the City!",['sdfsdfs']],
            "San Diego": { "Explore the most popular attractions in the city in San Diego!": '2021-05-10' }

        },
        "China": {
            "Beijing": { "Discover Beijing!": "2021-04-07" },
            "Shanghai": { "Exploring Shanghai": "2021-04-07" }
        },

        "France": {
            "Paris": { "Discover Beijing!": "2021-04-07" },
            "Bordeax": { "Exploring Shanghai": "2021-04-07" }
        },

    }
    window.onload = function () {
        var countrySel = document.getElementById("country");
        var citySel = document.getElementById("city");
        var attractionName = document.getElementById("attractionName");
        var departureSel = document.getElementById("departure");
        for (var x in subjectObject) {
            countrySel.options[countrySel.options.length] = new Option(x, x);
        }
        countrySel.onchange = function () {
            //display correct values
            for (var y in subjectObject[this.value]) {
                citySel.options[citySel.options.length] = new Option(y, y);
            }
        }
        citySel.onchange = function () {
            //display correct values
            var z = subjectObject[countrySel.value][this.value];
            for (var i = 0; i < z.length; i++) {
                attractionName.options[attractionName.options.length] = new Option(z[0]);
                departureSel.options[departureSel.options.length] = new Option(z[1]);
            }
        }
  
            
        
    }
</script>

{% endblock content %}