{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="gallery2 cid-sdlN4g4LYE" id="gallery2-1f">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Available Tours</h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Our upcoming tours&nbsp;
            </h5>
        </div>
        <!--Search bar starts-->
        <div class="row search-bar">
            <div class="col-3">

            </div>
            <div class="col-3">
            </div>
            <div class="col-6 search-bar" style="margin: 10px auto; width: 100%;">
                <form class="form-inline my-2 my-lg-0" method="get">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q"
                        id="id_q">
                    <button class="navbar-buttons mbr-section-btn btn btn-success display-4" id="searchAttraction"
                        type="submit" onClick="myFunction()">Search</button>
                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-danger display-4"
                            href="{% url 'tours' %}">
                            All</a></div>
            </div>
        </div>
        <!--Search bar ends-->

        <div class="row mt-4">
            {% for attraction in attraction %}

            <div id="example"> </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img class="thumbnail" src="{{attraction.imageURL}}">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5" style="font-size:20px;">
                            {{ attraction.attractionName}}</h5>

                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7" style="text-align:center;">
                            <em><a>Estimated Departure Date <br> {{ attraction.departure }}</a></em></h6>

                        <p class="mbr-text mbr-fonts-style mt-3 display-7">
                            $ {{attraction.price}}
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'tourdetail' %}" class="btn btn-primary item-btn display-7"
                            target="_blank">Detail</a></div>



                </div>

            </div>
            {% endfor %}

        </div>

    </div>


</section>


{% endblock content %}