{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="info3 cid-sgsdQthBJO" id="info3-1o">




    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2"><strong>Tour Detail</strong>
                        </h4>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-sgsdrb4iI3" id="features12-1n">



    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Tokyo, Japan</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Curabitur ullamcorper sodales ipsum, quis viverra urna lacinia ac. Aliquam
                            dignissim est et sem mollis, a vulputate elit viverra.&nbsp;</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Attraction 1</li>
                                <li>Attraction 2</li>
                                <li>Attraction 3&nbsp;</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4"><a class="btn btn-secondary display-4" href="">Book This
                                Tour!</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 md-pb">
                <div class="image-wrapper">
                    <img src="{% static 'images/3.jpg' %}" alt="3.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="timeline3 cid-sgsee0g4bS" id="timeline3-1p">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Timeline of this tour</strong></h3>

        </div>
        <div class="timelines-container mt-4">
            <div class="row timeline-element first-separline mb-5">
                <div class="timeline-date col-12">
                    <div class="timeline-date-wrapper">
                        <p class="mbr-timeline-date display-7">
                            Day 1&nbsp;</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-6">
                    <div class="image-wrapper">
                        <img src="{% static 'images/features1.jpg' %}" alt="Day1" title="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="timeline-text-wrapper">
                        <h4 class="mbr-timeline-title mbr-fonts-style mb-0 display-5">
                            <strong>Attraction 1&nbsp;</strong></h4>
                        <p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper sodales
                            ipsum, quis viverra urna lacinia ac. Aliquam dignissim est et sem mollis, a vulputate elit
                            viverra. Pellentesque id finibus massa, at fermentum felis.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element first-separline mb-5">
                <div class="timeline-date col-12">
                    <div class="timeline-date-wrapper">
                        <p class="mbr-timeline-date display-7">
                            Day 2</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-6">
                    <div class="image-wrapper">
                        <img src="{% static 'images/features2.jpg' %}g" alt="Day2" title="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="timeline-text-wrapper">
                        <h4 class="mbr-timeline-title mbr-fonts-style mb-0 display-5">
                            <strong>Attraction 2</strong></h4>
                        <p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">
                            This is a timeline block. Click on the blue gear icon to set the number of items in this
                            timeline. All sites you create with the Mobirise web builder are mobile-friendly natively.
                            No special actions required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element first-separline mb-5">
                <div class="timeline-date col-12">
                    <div class="timeline-date-wrapper">
                        <p class="mbr-timeline-date display-7">
                            Day 3</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-6">
                    <div class="image-wrapper">
                        <img src="{% static 'images/features3.jpg' %}" alt="Day3" title="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="timeline-text-wrapper">
                        <h4 class="mbr-timeline-title mbr-fonts-style mb-0 display-5">
                            <strong>Attraction 3</strong></h4>
                        <p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">Quisque placerat neque at felis cursus,
                            sit amet convallis eros laoreet. Nam sit amet vulputate urna. In faucibus luctus vulputate.
                            Quisque efficitur vehicula nisi non euismod. Duis volutpat mattis nisi, vehicula elementum
                            sapien aliquet sed.
                        </p>
                    </div>
                </div>
            </div>









        </div>
    </div>
</section>

<section class="form5 cid-sgseWBblNn" id="form5-1u">


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Have any questions for us?</strong></h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                    data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                        value="NiTnE9bHlGsm8cGPRJtr7BigVzyFRtU0ybg/uM6R51DK9RBeeRuBbDbAX6k8isgccbPxA/iAqbg1vOobzMfuUegSbwiIHBriQ3d448k3ApDbn6L5o8q/CxubEejn4G8D">
                    <div class="">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name"
                                class="form-control" value="" id="name-form5-1u">
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                                class="form-control" value="" id="email-form5-1u">
                        </div>
                        <div class="col-12 form-group" data-for="url">
                            <input type="url" name="url" placeholder="Your Site" data-form-field="url"
                                class="form-control" value="" id="url-form5-1u">
                        </div>
                        <div class="col-12 form-group" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea"
                                class="form-control" id="textarea-form5-1u"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit"
                                class="btn btn-secondary display-4">Send message</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="content17 cid-sgseqLXUvq" id="content17-1q">





    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="section-head align-center mb-4">
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                        <strong>Toggle FAQ</strong>
                    </h3>

                </div>

                <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse1_24" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>How to create more
                                        items in this list?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">The number of items is limited in this
                                    block. Open
                                    the Block parameters to change the amount of items.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse2_24" aria-expanded="false" aria-controls="collapse2">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Mobirise
                                        Kit?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>

                        </div>
                        <div id="collapse2_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">Mobirise Kit is a service that provides
                                    the access to all current and new themes/extensions developed by Mobirise. New
                                    themes/extensions are released every month and will be available in your account
                                    during your plan period, without any additional charge.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse3_24" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I create sites
                                        for commerical projects?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">Yes, Mobirise is free for both
                                    non-profit and commercial sites.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse4_24" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Code
                                        Editor?</strong>
                                </h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    This extension allows editing the code of block in the app. Also, it's possible to
                                    add code to the head and body parts of pages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse5_24" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Mobirise
                                        Kit?</strong></h6>
                                <span class="mbr-iconfont mobi-mbri-arrow-down mobi-mbri"></span>
                            </a>
                        </div>
                        <div id="collapse5_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Mobirise Kit is a service that provides the access to all current and new
                                    themes/extensions developed by Mobirise. New themes/extensions are released every
                                    month and will be available in your account during your plan period, without any
                                    additional charge.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse6_24" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I create sites
                                        for commerical projects?</strong></h6>
                                <span class="mbr-iconfont mobi-mbri-arrow-down mobi-mbri"></span>
                            </a>
                        </div>
                        <div id="collapse6_24" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Yes, Mobirise is free for both non-profit and commercial sites.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-sd3FtO0ZcX" once="footers" id="footer3-1k">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">





                    <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="about-us.html" target="_blank">About us</a>
                    </li>
                    <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Services</a>
                    </li>
                    <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Contact Us</a>
                    </li>
                    <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">






                    <div class="soc-item">
                        <a href="https://twitter.com/Voyagers" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/voyagers" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com/c/voyagers" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">Copyright © 2020 Voyagers</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}